<?xml version="1.0" encoding="UTF-8"?>

<settings>
	<flightgear>
		<address>localhost</address>
	
		<console>
			<port>10700</port>
		</console>
		
		<fdm>
			<port>10501</port>
		</fdm>

		<controls>
			<port>10500</port>
		</controls>	
	</flightgear>

	<fdmviewer>
		<update_rate>0.5</update_rate>
	</fdmviewer>
	
	<autopilot>
		<update_rate>0.1</update_rate>
	</autopilot>
</settings>